
*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

img{
    height: 120px;
    width: 120px;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.contenedor-principal{

    height: 235vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/fondo-pagina.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}


.cabecera{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 4, 62);
    width: 100vw;
    height: 25vh;
    border-bottom: 2px solid white;

}

.logo{
    height: 75px;
    width: 75px;
    border-radius: 12px;
    margin-top: 10px;
    
}

ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    


}


li{
    font-size: 25px;
    background-color: rgb(7, 9, 130);
    padding: 8px;
    border-radius: 15px;
    border: 3px solid white;

}

li:hover{
    background-color: rgb(29, 31, 146);
    transition: .4s;
    cursor: pointer;
}

li a{
    color: white;
    text-decoration: none;
    
}


li a:hover{
    color: rgb(228, 170, 8);
    transition: .4s;
    
}

.imagen-principal{

    width: 85vw;
    height: 685px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.imagen-principal button{
    height: 100px;
    width: 85px;
    color: white;
    background-color: rgb(7, 9, 130);
    border: 2px solid white;
    border-radius: 35px;
    font-size: 35px;
}

.imagen-principal button:hover{
    font-size: 40px;
    cursor: pointer;
    background-color: rgb(29, 31, 146);
    transition: .3s;
}

.imagen-principal img{

    width: 75vw;
    height: 685px;
    border-radius: 25px;
    border: 2px solid white;

}

.mas-vendidos p{

    font-size: 45px;
    color: white;
    background-color: rgb(7, 9, 130);
    padding: 8px;
    border-radius: 15px;
    border: 3px solid white;

}

.mas-imagenes{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.mas-imagenes img{

    height: 245px;
    width: 375px;
    border-radius: 25px;
    border: 3px solid white;
    

}


.sobre-nosotros{

    border: 1px solid white;
    margin-top: 35px;
    padding: 25px;
    height: 50vh;
    border-radius: 25px;
    background-color: rgb(3, 4, 62);
    max-width: 75vw;


}

.sobre-nosotros h1{

    font-size: 28px;
    color: white;
    text-align: center;

}

.sobre-nosotros p{

    
    color: white;
    font-size: 20px;

}

.redes{

    background-color: rgb(3, 4, 62);
    width: 100vw;
    height: 30vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;

}


.redes h2{

    color: white;
    font-size: 35px;

}

.imagenes-redes{

    display: flex;
    flex-direction: row;
    gap: 35px;

}

.redes img{

    height: 50px;
    width: 50px;
    



}

.redes img:hover{

    scale: 1.5;
    cursor: pointer;
    transition: .4s;

}









